.graph-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.three-column {
    width: 40%;
    height: 70%;
    padding: 10px;
    float: left;
}
.three-column-3 {
    height: 70%;
    width: 15%;
    margin: 0;
    float: right;
    text-align: center;
}
.one-column {
    height: 25%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10px;
    width: 80%;
    float: left;
}
path { 
    stroke-width: 2;
    fill: none;
}
.line {
    fill: none;
    stroke-width: 2;
    /*shape-rendering: crispEdges;*/
}
.control-container {
    text-align: center;
    display:inline-block;
    margin: 10px;
}
.controls {
    text-align: center;
}
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    width: 6em;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    text-align: center;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

