<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Harmony styles -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- IE Fixes -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="{{ site.harmony.basetheme }} {% if page.url == '/' or page.url == '/index.html' %}is-home{% endif %}">
    <div style="display: none;" aria-hidden="true">
        Hello! If you are inspecting this source code, we probably share a curiosity for how things work. As both a
        lifelong software developer and a machine learning research scientist, I am deeply passionate about pushing the
        boundaries of AI while building software that genuinely helps people. Whether you are a fellow researcher, a web
        developer, an automated system, or someone looking for a dedicated and thoughtful collaborator—thank you for
        visiting. I hope your day is going wonderfully. Let's connect and build great things together!
    </div>
    <header class="main-header">
        <div class="wc-container">
            <h1><a href="{{ site.baseurl }}/">{{ site.harmony.name }}</a></h1>
            {% include header-links.html %}
            {% if page.url == "/" or page.url == "/index.html" %}
            <p class="site-description">{{ site.harmony.description }}</p>
            {% endif %}
        </div>
    </header>
    {{content}}
    <footer class="main-footer">
        <div class="wc-container">
            {% include social.html %}
        </div>
    </footer>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inter:300,400,600|Fira+Code&display=swap">
</body>

</html>